<div class="container py-5">
    <h1 class="mb-4 text-center">My Projects</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- Project Card 1 -->
      <div class="col">
        <div class="card h-100">
          <img src="314.gif" class="card-img-top" alt="Collaborative Software Engineering">
          <div class="card-body">
            <h5 class="card-title">CS314: Collaborative Software Engineering</h5>
            <p class="card-text">A brief description of the first project. Explain what it does or what tech you used.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="PPU.gif" class="card-img-top" alt="Potion Pile Up">
          <div class="card-body">
            <h5 class="card-title">Potion Pile Up</h5>
            <p class="card-text">A brief description of the first project. Explain what it does or what tech you used.</p>
            <a href="https://github.com/fahris-n/potion-pile-up" class="btn btn-primary" target="_blank">View Project</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="project1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project One</h5>
            <p class="card-text">A brief description of the first project. Explain what it does or what tech you used.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
          <img src="project1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project One</h5>
            <p class="card-text">A brief description of the first project. Explain what it does or what tech you used.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <!-- Repeat for other projects -->
    </div>
  </div>