<div class="container py-5">
    <h1 class="mb-4 text-center">My Projects</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <!-- Project Card 1 -->
      <div class="col">
        <div class="card h-100">
          <img src="314.gif" class="card-img-top" alt="Collaborative Software Engineering">
          <div class="card-body">
            <h5 class="card-title">CS314: Collaborative Software Engineering</h5>
            <p class="card-text">Java, Maven, Postman, GitHub Projects, JSON, Agile, Scrum, REST APIs</p>
            <p class="card-text">Worked as a team of 5 over a full semester to build out features on an existing Java codebase by creating REST APIs
              following Agile methodologies. I was personally responsible for leading Sprint 4, and creating a data driven module that dynamically adjusted optmization levels based on the number of locations
              and the client specified time constraints, resulting in shorter user tour lengths.</p>
              <p class="card-text">Followed Agile and Scrum methodologies, with set sprints, daily scrums, sprint plannings, and code reviews. Used GitHub for issue tracking,
                branch management, and peer reviews. Ensured code quality with unit tests in JUnit automated with Maven, as well as a CI pipeline. </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="PPU.gif" class="card-img-top" alt="Potion Pile Up">
          <div class="card-body">
            <h5 class="card-title">Potion Pile Up</h5>
            <p class="card-text">Python, JavaScript, Flask, SQL, HTML, CSS, Jinja, Bootstrap</p>
            <p class="card-text">One personal project I'm really proud of is a full-stack Python web application I built. It was my first time creating a full-stack app, 
              so learning to handle GET and POST requests and communicating with a MySQL database I hosted online was really exciting. I used an ORM to manage database queries, 
              which made working with data easier and more secure. For the front end, I created a small JavaScript game where you play as a wizard catching falling potions.</p>
              <p class="card-text">It taught me how to implement collision detection, animations, and keep the player within screen bounds. I also learned how to create an API endpoint 
                and send the users score to it using JSON, and then update the database to track high scores. I also implemented tokens to avoid Cross Site Request Forgery to protect user accounts.  
                Overall, it was a great learning experience that helped me connect backend and frontend development.
              </p>
            <a href="https://github.com/fahris-n/potion-pile-up" class="btn btn-primary" target="_blank">View Project</a>
          </div>
        </div>
      </div>

      <!-- <div class="col">
        <div class="card h-100">
          <img src="project1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project One</h5>
            <p class="card-text">A brief description of the first project. Explain what it does or what tech you used.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card h-100">
          <img src="project1.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project One</h5>
            <p class="card-text">A brief description of the first project. Explain what it does or what tech you used.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div> -->

    </div>
  </div>