<div class="container">
    <p class="small-text-intro">Hi, my name is</p>
    <p class="big-name-text">Fahris Nassief.</p>
    <p class="second-line">I build software to solve problems.</p>
    <div class="paragraph">
        <p class="paragraph-light">I'm a computer science student at <span class="highlighted">Colorado State
                University</span>,
            working toward a career in software engineering. I have a strong interest in technology and enjoy solving
            real-world problems through code. This site highlights some of the projects I've worked on, along with what
            I'm learning along the way. Feel free to explore and don't hesitate to reach out.
        </p>
    </div>
    <div class="flex-box">
        <div class="image">
            <img src="version-control.svg" alt="man working on computer">
        </div>
        <div class="icons">
            <a href="https://www.github.com/fahris-n" target="_blank">
                <img src="icons/github-brands.svg" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/fahrisnassief" target="_blank">
                <img src="icons/linkedin-brands.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
</div>