.container {
    margin-top: 20px;
}

.main-line {
    font-size: 72px;
    font-weight: bold;
}

.green-highlight {
    color: #708238;
}

.contact-me-text {
    text-align: left;
    font-weight: bold;
    font-size: 42px;
}

.main-text {
    font-weight: bold;
    font-size: 22px;
}

.blue-highlight {
    color: #0077b5;
}

a {
    text-decoration: none;
}

.icons {
    text-align: center;
    width: 150px;
    height: auto;
}