<div class="container">
    <div class="contact-me-text">
        <p class="main-line">Let's Connect.</p>
        <p class="green-highlight">I'm always open to interesting ideas, collaborations, or just a good conversation.</p>
        <p class="main-text">The best way to reach me is on <span class="blue-highlight"><a href="https://www.linkedin.com/in/fahrisnassief" target="_blank">LinkedIn</a></span>. Whether you're a potential collaborator or you just want to say hi, I'd love to hear from you.</p>
    </div>
    <div class="icons">
        <a href="https://www.linkedin.com/in/fahrisnassief" target="_blank">
            <img src="icons/linkedin-brands.svg" alt="LinkedIn">
        </a>
    </div>
</div>