<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="monogram.svg" alt="Logo" style="height: 50px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-link" routerLink="/project" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</a>
        <a class="nav-link" routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page">Resume</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Me</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer">
  <p>© 2025 Fahris Nassief. All rights reserved.</p>
</div>